@font-face {
    font-family: Fredoka One;
    src: url('../fonts/FredokaOne-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
}

#c {
    position: absolute;
    width: 1920px;
    height: 1080px;
}

.content {
    display: flex;
    flex-direction: column;

    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: transparent;
}


.header {
    margin-top: 30px;

    font-size: 260px;
    font-family: Fredoka One;
    background: -webkit-linear-gradient(#fa60c4, #f541b0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #fcfffe;

    text-align: center;

}

.level_card {

    padding-top: 100px;

    width: 200px;
    height: 300px;

    align-self: center;

    border-radius: 20px;
}

.level_design {
    display: flex;
    flex-direction: column;

    height: 100%;
    border-radius: 20px;

    background: #ffb938;

    background: repeating-linear-gradient(
            45deg,
            #ffb938,
            #ffb938 20px,
            #ffbe57 20px,
            #ffbe57 40px
    );

    border: solid;
    border-width: 4px;
    border-color: #eeab33;

    outline: solid;
    outline-width: 6px;
    outline-color: #fcfffe;
}

.level_design:hover {
    background: repeating-linear-gradient(
            45deg,
            #ec26a2,
            #ec26a2 20px,
            #ed4ea9 20px,
            #ed4ea9 40px
    );

    border-color: #da2296;
}

.spliter {
    background: #fcfffe;
    height: 0px;

    outline: solid;
    outline-width: 4px;
    outline-color: #fcfffe;
}

.button {
    align-self: center;

    padding-bottom: 15px;
    padding-top: 5px;

    border: none;
    width: 250px;
    text-align: center;
    stroke: none;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;

    font-size: 35px;
    font-family: Fredoka One;
    background: -webkit-linear-gradient(#fcfffe, #fcfffe);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.fit-picture {
    padding-top: 25px;
    width: 192px;
    height: 192px;
}

.button:hover {
    -webkit-text-stroke-color: #da2296;
}