@font-face {
    font-family: Fredoka One;
    src: url('../fonts/FredokaOne-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
}

#c {
    position: absolute;
    width: 1920px;
    height: 1080px;
}

.content {
    display: flex;
    flex-direction: column;

    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: transparent;
}

.button {
    align-self: center;

    margin-top: 200px;

    border: none;
    width: 250px;
    padding: 16px 32px;
    text-align: center;
    stroke: none;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;

    font-size: 75px;
    font-family: Fredoka One;
    background: -webkit-linear-gradient(#fcfffe, #fcfffe);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #d871b8;
}

.button:hover {
    background-image: -webkit-linear-gradient(#fa60c4, #f541b0);
    -webkit-text-stroke-color: #ffb8ff;
    -webkit-background-clip: text;
}


.header {
    margin-top: 30px;

    font-size: 260px;
    font-family: Fredoka One;
    background: -webkit-linear-gradient(#fa60c4, #f541b0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #fcfffe;

    text-align: center;

}

.level {
    width: 200px;
    height: 300px;

    align-self: center;

    border-radius: 10px;

    background: orange;

    border: solid;
    border-width: 6px;
    border-color: #fcfffe;

    box-shadow: 3px 3px black;
}